<ul class="project_items challenge_items">
	{% for challenge in challengeList %}
	{% set tranlations = challenge.translations %}
	{% for t in translations %}
	{% if t.language == askedForTranslation %}
	{% set challenge = t %}
	{% endif %}
	{% endfor %}
	<li{% if loop.index is not divisibleby(nbByRow) %} class="mgr{{ mgr }}p{% if app.user and app.user.numberOf("challenge", challenge.id) > 0 %} has_notif{% endif %}"{% endif %}>
		<a href="{{ path('tst_challenge', {'id' : challenge.id }) }}" alt="{{ challenge.title }}" >
			{% thumbnail challenge.picture, 'thumbnail'  %}
			<div class="challenge_progress_bar">
				<div style="width: {{ challenge.percentTime }}%;">
				</div>
			</div>
			<h2>
			{% if app.user and app.user.numberOf("challenge", challenge.id) > 0 %}<div class="notif bgRed">{{ app.user.numberOf("challenge", challenge.id)}}</div>{% endif %}
			{{ challenge.title }}</h2>
			<p>
				<strong>{{ challenge.projects|length }}</strong> {{ "projectnb"|transchoice(challenge.projects|length) }}
				<span>
				{% if challenge.percentTime == 0 %}
				{% trans %}Unstarted{% endtrans %}
				{% elseif challenge.remainingTime.invert %}
				{% trans %}Finished{% endtrans %}
				{% elseif challenge.remainingTime.m > 0 %}
				<i class="icon-time"></i>M-{{ challenge.remainingTime.m }}
				{% elseif challenge.remainingTime.d > 0 %}
				<i class="icon-time"></i>J-{{ challenge.remainingTime.d }}
				{% else %}
				<i class="icon-time"></i>H-{{ challenge.remainingTime.h }}
				{% endif %}
				</span>
			</p>
		</a>
	</li>
	{% endfor %}
</ul>
