{%  extends "TheScienceTourMainBundle::main.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Project{% endtrans%}{% endblock %}

{% block nav_projects %}id="nav_projects"{% endblock %}

{% block banner_attributes %}banner-single-document banner-bg-green{% endblock %}

{% block banner %}
<div class="banner-title">
	<h1 class="txtshadowed">{% block form_title %}{% endblock %}</h1>
</div>
<div class="banner-little-man">
	<img src="{{ asset('bundles/thesciencetourmain/img/project-form-banner-man.png') }}" alt="" />
</div>
{% endblock %}

{%  block scripts %}
<script>
var myFile = document.getElementById('form_picture_binaryContent');
</script>
<script type="text/javascript" src="{{ asset('bundles/thesciencetourmain/js/validImg.js') }}"></script>
{% endblock %}

{% block content %}

<div id="news_form_content" class="center">
	<form class="news_form w700p" {%  block form_action %}{% endblock %} method="post" {{ form_enctype(form) }}>
	
		{{ form_errors(form) }}
	
		<div class="form-row">
			{{ form_errors(form.title) }}
			<div class="w20 inbl">
				{{ form_label(form.title, "Article title", {'label_attr': {'class': 'label-big'}}) }}
			</div>
			<div class="w79 inbl txtright">
				{{ form_widget(form.title, {'attr': { 'class': 'w91'} }) }}
			</div>
		</div>
		
		<div class="form-row">
			{{ form_errors(form.picture) }}
			<div class="w20 inbl">
				{{ form_label(form.picture, "Image", {'label_attr': {'class': 'label-big'}}) }}
			</div>
			{{ form_widget(form.picture, {'attr': { 'class': 'w60 mgl20p txtleft inbl form-picture-element'} }) }}
		</div>
		
		<div class="form-row">
			{{ form_errors(form.content) }}
			<div class="w30 inbl">
				{{ form_label(form.content, "Content", {'label_attr': {'class': 'label-big'}}) }}
			</div>
			<div>
				{{ form_widget(form.content, {'attr': { 'class': 'w91 tinymce', 'rows' : '15'} }) }}
			</div>
		</div>
		<div class="form-row txtright">
			{%  block form_submit %}{% endblock %}
		</div>
		
		{{ form_rest(form) }}
		
	</form>
</div>
{{ tinymce_init() }}
{% endblock %}