<ul class="project_items">
	{% for project in projectList %}
	<li class="{% if loop.index is not divisibleby(nbByRow) %}mgr{{ mgr }}p{% endif %}{% if app.user and app.user.numberOf("project", project.id) > 0 %} has_notif{% endif %}">
		<a href="{{ path('tst_project', {'id' : project.id }) }}" alt="{{ project.title }}" >
			{% thumbnail project.picture, 'thumbnail'  %}
			<div class="progress_bar">
				<div style="width: 35%;">
				</div>
			</div>
			<h2>
			{% if app.user and app.user.numberOf("project", project.id) > 0 %}<div class="notif bgRed">{{ app.user.numberOf("project", project.id)}}</div>{% endif %}
			{{ project.title }}</h2>
			<p>
				{%  set durationUnit = project.durationUnit ? project.durationUnit : 'month' %}
				<strong>{{ project.duration }}</strong> {{ durationUnit|transchoice(project.duration) }}
				<span><i class="icon-beaker"></i>{#{{ project.price }} €#}{{ project.totalResNb }}</span>
			</p>
		</a>
		{% if project.challenge %}
		<div class="challenge-label">
			<div>{% trans %}Challenge{% endtrans %}</div>
		</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>