{%  extends "TheScienceTourMainBundle::main-bigcontent.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}CGU{% endtrans %}{% endblock %}

{% block nav_about %} id="nav_about"{% endblock %}

{% block banner %}
<img src="{{ asset('bundles/thesciencetourmain/img/about-banner.png') }}" alt="" />
<div class="banner-title gradient">
	<h1 class="pb0">LE SCIENCE TOUR</h1>
	<p class="white">est un dispositif itinérant et numérique constitué de bus et de différents outils pédagogiques,<br />
	permettant de rendre les sciences accessibles à tous, tout en s'amusant.</p>
</div>
{% endblock %}

{% block content %}

<div class="about-page">
	<div class="about-line">
		<div class="about-column">
			<div class="about-column-inner">
				<h3><img src="{{ asset('bundles/thesciencetourmain/img/logo-petits-debs-129x110.png') }}" alt="" /><br />
				L'ASSOCIATION</h3>
				<p>Créé il y a plus de trente ans, l'association des Petits Débrouillards est aujourd'hui le premier réseau français de culture scientifique et technique. Nous animons, au quotidien, le lien entre les enfants, les jeunes et l'université des sciences, que nous considérons avant tout comme un médium de compréhension de soi et du monde.</p>
			</div>
		</div>
		<div class="about-column">
			<div class="about-column-inner">
				<h3><img src="{{ asset('bundles/thesciencetourmain/img/erlenmeyer-59x110.png') }}" alt="" /><br />
				LES PROJETS</h3>
				<p>La plateforme web permet de rassembler autour de projets de sicence une diversité d'acteurs : des parents aux médiateurs, des chercheurs aux instituteurs, des artisans aux entreprises.<br />
				Les dynamiques engendrées donnent l'occasion de se rencontrer, d'échanger et de partager une vision du monde.</p>
			</div>
		</div>
		<div class="about-column">
			<div class="about-column-inner">
				<h3><img src="{{ asset('bundles/thesciencetourmain/img/test-tube-truck-155x102.png') }}" alt="" /><br />LES CAMIONS</h3>
				<p>Douze laboratoires mobiles sillonnent la France à la recherche des scientifiques de demain et à la rencontre de tous les publics, des villages aux grandes villes.<br />
				La venues des FabLabs sur roue est un événement festif, ouvert à tous, pour explorer, dialoguer et comprendre le monde qui nous entoure.</p>
			</div>
		</div>
	</div>
	
	<div class="about-line">
		<h2 class="txtcenter">LES PARTENAIRES</h2>
		<div class="about-logo-line">
			<img src="{{ asset('bundles/thesciencetourmain/img/logo-investissements-d-avenir-79x79.png') }}" alt="" />
			<img src="{{ asset('bundles/thesciencetourmain/img/logo-hop-139x35.png') }}" alt="" />
			<img src="{{ asset('bundles/thesciencetourmain/img/logo-france-televisions-126x62.png') }}" alt="" />
			<img src="{{ asset('bundles/thesciencetourmain/img/logo-francetv-education-236x21.png') }}" alt="" />
			<img src="{{ asset('bundles/thesciencetourmain/img/logo-c-est-pas-sorcier-155x62.png') }}" alt="" />
		</div>
		<div class="w50 left">
			<h3>PARTENAIRES SCIENTIFIQUES</h3>
			<div class="about-logo-line">
				<img src="{{ asset('bundles/thesciencetourmain/img/logo-insee-80x92.png') }}" alt="" />
				<img src="{{ asset('bundles/thesciencetourmain/img/logo-inserm-186x47.png') }}" alt="" />
			</div>
		</div>
		<div class="w50 left">
			<h3>PARTENAIRES EXECUTIFS</h3>
			<div class="about-logo-line">
				<img src="{{ asset('bundles/thesciencetourmain/img/logo-agence-h-66x64.png') }}" alt="" />
				<img src="{{ asset('bundles/thesciencetourmain/img/logo-nodesign-154x29.png') }}" alt="" />
				<img src="{{ asset('bundles/thesciencetourmain/img/logo-g2cw2c-137x27.png') }}" alt="" />
			</div>
		</div>
	</div>
</div>

{% endblock %}