{% extends "TheScienceTourUserBundle::layout.html.twig" %}

{% block banner %}
<div class="banner-title">
	<h1 class="txtshadowed">{% trans %}Change password{% endtrans %}</h1>
</div>
{% endblock %}

{% block fos_user_content %}
<div class="center w500p">
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		<div class="form-row">
			{{ form_errors(form.current_password) }}
			<div class="w30 inbl">
				{{ form_label(form.current_password, "Current password"|trans, {'label_attr': {'class': 'label-big'}}) }}
			</div>
			<div class="w70 inbl txtright">
				{{ form_widget(form.current_password, {'attr': { 'class': 'w80'} }) }}
			</div>
		</div>
		<div class="form-row">
			{{ form_errors(form.new.first) }}
			<div class="w30 inbl">
				{{ form_label(form.new.first, "New password"|trans, {'label_attr': {'class': 'label-big'}}) }}
			</div>
			<div class="w70 inbl txtright">
				{{ form_widget(form.new.first, {'attr': { 'class': 'w80'} }) }}
			</div>
		</div>		
		<div class="form-row">
			{{ form_errors(form.new.second) }}
			<div class="w30 inbl">
				{{ form_label(form.new.second, "Verification"|trans, {'label_attr': {'class': 'label-big'}}) }}
			</div>
			<div class="w70 inbl txtright">
				{{ form_widget(form.new.second, {'attr': { 'class': 'w80'} }) }}
			</div>
		</div>
		<div class="form-row txtright">
	        <input type="submit" value="{% trans %}Change{% endtrans %}" />
	    </div>	
	    {{ form_rest(form) }}
	</form>
</div>
{% endblock fos_user_content %}